<!DOCTYPE html>
<html>
  <head>
    <title>Realtime Notifications</title>
    <script src="https://js.pusher.com/4.1/pusher.min.js"></script>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>

  </head>

  <body>

    <input class="create-notification" placeholder="Send a notification :)"></input>
    <button class="submit-notification">Go!</button>

    <div class="notification"></div>
    <script>

      var pusher = new Pusher('fa1c51d738d6f458f45b', {
        cluster: 'eu',
        encrypted: true
      });

      var notificationsChannel = pusher.subscribe('notifications');

      notificationsChannel.bind('new_notification', function(notification){
        var message = notification.message;
        $('div.notification').text(message);
      });

      var sendNotification = function(){
		      var text = $('input.create-notification').val();
		      $.post('/notification', { message: text }, function success(){
			      console.log('Notification sent!');
		      });
	    };

	    $('button.submit-notification').on('click', sendNotification);

      Pusher.logToConsole = true;

    </script>
  </body>

</html>
